.TeamImageContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 55rem;
}

.TeamImageContainer-track {
  display: flex;
  width: 100vw;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-right: 2rem;
  border: 2p;
}

.card img {
  width: 350px;
  height: 20rem;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.imageCard1 {
  position: absolute;
  left: 50px;
  top: 0;
  z-index: 1;
}
.imageCard2 {
  position: absolute;
  left: 300px;
  top: 16rem;
  z-index: 2;
}
.imageCard3 {
  position: absolute;
  left: 550px;
  top: 32rem;
  z-index: 3;
}

.imageCard6 {
  position: absolute;
  right: 300px;
  top: 16rem;
  z-index: 2;
}
.imageCard7 {
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 1;
}

.TeamImageContainerInfo {
  text-align: center;
  margin-top: 0.5rem;
  display: none;
}

.card img:hover,
.card img:hover .TeamImageContainerInfo {
  transform: scale(1.05);
  display: block;
  z-index: 777;
}

.TeamImageContainerInfo h3 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
}

.TeamImageContainerInfo p {
  font-size: 1rem;
  margin: 0;
  color: gray;
}

.ourWebTeam {
  position: absolute;
  top: 4rem;
  left: 27rem;
  background-color: black;
  color: rgb(144, 181, 214);
  font-size: 5rem;
  font-weight: 900;
}
